.active {
    background-color: #111827b1;
    color: rgb(255 255 255);
}

.active:hover {
    color: #d1d5db;
}

.notactive {
    background-color: none;
    color: #d1d5db;
}

.notactive:hover {
    background-color: #374151;
    color: rgb(255 255 255);
}

#map {
    height: 500px;
    width: 100%;
    padding: 0;
}